# Given a bank customer, build a neural network-based classifier that can determine whether they will leave or not in the next 6 months.

Dataset Description: The case study is from an open-source dataset from Kaggle. The dataset contains 10,000 sample points with 14 distinct features such as CustomerId, CreditScore, Geography, Gender, Age, Tenure, Balance, etc. Link to the Kaggle project: https://www.kaggle.com/barelydedicated/bank-customer-churn-modeling Perform following steps:
1. Read the dataset.
2. Distinguish the feature and target set and divide the data set into training and test sets.
3. Normalize the train and test data. 
4. Initialize and build the model. Identify the points of improvement and implement the same.
5. Print the accuracy score and confusion matrix.

In [ ]:
import pandas as pd
import numpy as np
import  seaborn as sb

In [ ]:
#Read the dataset
df=pd.read_csv("Churn_Modelling.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

# Distinguish the feature and target set and divide the data set into training and test sets.

In [ ]:
X=df[['CreditScore','Age','Tenure','Balance','NumOfProducts','HasCrCard','IsActiveMember','EstimatedSalary','Exited']]
states=pd.get_dummies(df['Geography'],drop_first = True)
gender=pd.get_dummies(df['Gender'],drop_first = True)

In [ ]:
df=pd.concat([X,gender,states],axis=1)

In [ ]:
df.head(5)

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Male,Germany,Spain
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1

In [ ]:
X=df.drop(['Exited'],axis=1)
Y=df['Exited']

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=2)

# Normalize the train and test data

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [ ]:
X_train=sc.fit_transform(X_train)
X_test=sc.fit_transform(X_test)

In [ ]:
X_train

array([[ 0.40603944, -1.2255974 , -0.69902887, ..., -1.08690612,
        -0.58768841, -0.56877202],
       [-1.05419348,  0.37842889, -0.69902887, ..., -1.08690612,
         1.70158197, -0.56877202],
       [-2.13124471, -0.84817945, -0.69902887, ..., -1.08690612,
        -0.58768841, -0.56877202],
       ...,
       [ 2.06304133, -0.28205252, -0.69902887, ...,  0.92004266,
        -0.58768841, -0.56877202],
       [-1.03348096,  1.41632826, -0.00897076, ...,  0.92004266,
         1.70158197, -0.56877202],
       [ 0.03321401, -1.03688842,  0.68108736, ..., -1.08690612,
        -0.58768841, -0.56877202]])

In [ ]:
X_test

array([[ 0.83723003, -0.07477521,  1.74412033, ..., -1.11753101,
        -0.557843  , -0.58556189],
       [-0.05072348,  0.21871667, -1.0364621 , ..., -1.11753101,
         1.79261907, -0.58556189],
       [-0.32949959,  1.68617608,  0.70140192, ...,  0.89482975,
        -0.557843  , -0.58556189],
       ...,
       [ 0.29000287, -0.27043646, -0.6888893 , ...,  0.89482975,
         1.79261907, -0.58556189],
       [ 0.76495475, -0.17260584,  0.35382912, ...,  0.89482975,
         1.79261907, -0.58556189],
       [ 1.13665622,  0.02305542,  0.35382912, ...,  0.89482975,
        -0.557843  , -0.58556189]])

# Initialize and build the model. Identify the points of improvement and implement the same.

In [ ]:
import keras

In [ ]:
from keras.models import Sequential
from keras.layers import Dense

In [ ]:
Classifier = Sequential()
Classifier.add(Dense(150,input_dim=11,activation = 'tanh'))
Classifier.add(Dense(150,activation = 'tanh'))
Classifier.add(Dense(150,activation = 'tanh'))
Classifier.add(Dense(1, activation='sigmoid'))
Classifier.compile(loss='binary_crossentropy', optimizer='adam', metrics = ['accuracy'])
Classifier.fit(X_train,Y_train,epochs=100,batch_size=15)

Epoch 1/100
467/467 [==============================] - 2s 3ms/step - loss: 0.4106 - accuracy: 0.8266
Epoch 2/100
467/467 [==============================] - 2s 3ms/step - loss: 0.3591 - accuracy: 0.8504
Epoch 3/100
467/467 [==============================] - 2s 3ms/step - loss: 0.3525 - accuracy: 0.8553
Epoch 4/100
467/467 [==============================] - 2s 3ms/step - loss: 0.3462 - accuracy: 0.8559
Epoch 5/100
467/467 [==============================] - 2s 3ms/step - loss: 0.3410 - accuracy: 0.8591
Epoch 6/100
467/467 [==============================] - 2s 3ms/step - loss: 0.3413 - accuracy: 0.8603
Epoch 7/100
467/467 [==============================] - 2s 3ms/step - loss: 0.3360 - accuracy: 0.8613
Epoch 8/100
467/467 [==============================] - 2s 3ms/step - loss: 0.3369 - accuracy: 0.8586
Epoch 9/100
467/467 [==============================] - 2s 3ms/step - loss: 0.3291 - accuracy: 0.8639
Epoch 10/100
467/467 [==============================] - 2s 3ms/step - loss: 0.3263 - accuracy: 0.8667
Epoch 11/100
467/467 [==============================] - 2s 3ms/step - loss: 0.3220 - accuracy: 0.8691
Epoch 12/100
467/467 [==============================] - 2s 3ms/step - loss: 0.3172 - accuracy: 0.8709
Epoch 13/100
467/467 [==============================] - 2s 3ms/step - loss: 0.3158 - accuracy: 0.8663
Epoch 14/100
467/467 [==============================] - 2s 3ms/step - loss: 0.3100 - accuracy: 0.8720
Epoch 15/100
467/467 [==============================] - 2s 3ms/step - loss: 0.3060 - accuracy: 0.8757
Epoch 16/100
467/467 [==============================] - 2s 3ms/step - loss: 0.3001 - accuracy: 0.8759
Epoch 17/100
467/467 [==============================] - 2s 3ms/step - loss: 0.2933 - accuracy: 0.8773
Epoch 18/100
467/467 [==============================] - 2s 3ms/step - loss: 0.2877 - accuracy: 0.8816
Epoch 19/100
467/467 [==============================] - 2s 3ms/step - loss: 0.2822 - accuracy: 0.8820
Epoch 20/100
467/467 [==============================] - 2s 3ms/step - loss: 0.2763 - accuracy: 0.8850
Epoch 21/100
467/467 [==============================] - 2s 5ms/step - loss: 0.2686 - accuracy: 0.8879
Epoch 22/100
467/467 [==============================] - 3s 6ms/step - loss: 0.2611 - accuracy: 0.8917
Epoch 23/100
467/467 [==============================] - 2s 4ms/step - loss: 0.2512 - accuracy: 0.8959
Epoch 24/100
467/467 [==============================] - 2s 3ms/step - loss: 0.2446 - accuracy: 0.8979
Epoch 25/100
467/467 [==============================] - 2s 3ms/step - loss: 0.2372 - accuracy: 0.9017
Epoch 26/100
467/467 [==============================] - 2s 3ms/step - loss: 0.2267 - accuracy: 0.9076
Epoch 27/100
467/467 [==============================] - 2s 3ms/step - loss: 0.2163 - accuracy: 0.9096
Epoch 28/100
467/467 [==============================] - 2s 3ms/step - loss: 0.2090 - accuracy: 0.9147
Epoch 29/100
467/467 [==============================] - 2s 3ms/step - loss: 0.2007 - accuracy: 0.9179
Epoch 30/100
467/467 [==============================] - 2s 3ms/step - loss: 0.1884 - accuracy: 0.9236
Epoch 31/100
467/467 [==============================] - 3s 6ms/step - loss: 0.1745 - accuracy: 0.9303
Epoch 32/100
467/467 [==============================] - 2s 4ms/step - loss: 0.1682 - accuracy: 0.9324
Epoch 33/100
467/467 [==============================] - 2s 4ms/step - loss: 0.1556 - accuracy: 0.9386
Epoch 34/100
467/467 [==============================] - 2s 4ms/step - loss: 0.1443 - accuracy: 0.9423
Epoch 35/100
467/467 [==============================] - 2s 4ms/step - loss: 0.1345 - accuracy: 0.9499
Epoch 36/100
467/467 [==============================] - 2s 3ms/step - loss: 0.1245 - accuracy: 0.9537
Epoch 37/100
467/467 [==============================] - 2s 4ms/step - loss: 0.1153 - accuracy: 0.9593
Epoch 38/100
467/467 [==============================] - 2s 3ms/step - loss: 0.1057 - accuracy: 0.9619
Epoch 39/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0984 - accuracy: 0.9667
Epoch 40/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0889 - accuracy: 0.9693
Epoch 41/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0801 - accuracy: 0.9757
Epoch 42/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0737 - accuracy: 0.9771
Epoch 43/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0709 - accuracy: 0.9796
Epoch 44/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0627 - accuracy: 0.9811
Epoch 45/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0564 - accuracy: 0.9854
Epoch 46/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0519 - accuracy: 0.9857
Epoch 47/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0499 - accuracy: 0.9866
Epoch 48/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0440 - accuracy: 0.9896
Epoch 49/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0382 - accuracy: 0.9923
Epoch 50/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0364 - accuracy: 0.9921
Epoch 51/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0372 - accuracy: 0.9917
Epoch 52/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0404 - accuracy: 0.9890
Epoch 53/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0358 - accuracy: 0.9907
Epoch 54/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0289 - accuracy: 0.9944
Epoch 55/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0283 - accuracy: 0.9940
Epoch 56/100
467/467 [==============================] - 2s 4ms/step - loss: 0.0197 - accuracy: 0.9960
Epoch 57/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0244 - accuracy: 0.9947
Epoch 58/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0217 - accuracy: 0.9957
Epoch 59/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0316 - accuracy: 0.9911
Epoch 60/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0285 - accuracy: 0.9923
Epoch 61/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0181 - accuracy: 0.9967
Epoch 62/100
467/467 [==============================] - 2s 4ms/step - loss: 0.0151 - accuracy: 0.9973
Epoch 63/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0105 - accuracy: 0.9980
Epoch 64/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0209 - accuracy: 0.9951
Epoch 65/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0336 - accuracy: 0.9891
Epoch 66/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0265 - accuracy: 0.9923
Epoch 67/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0269 - accuracy: 0.9924
Epoch 68/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0095 - accuracy: 0.9980
Epoch 69/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0153 - accuracy: 0.9960
Epoch 70/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0162 - accuracy: 0.9959
Epoch 71/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0175 - accuracy: 0.9961
Epoch 72/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0241 - accuracy: 0.9924
Epoch 73/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0201 - accuracy: 0.9944
Epoch 74/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0195 - accuracy: 0.9949
Epoch 75/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0163 - accuracy: 0.9957
Epoch 76/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0124 - accuracy: 0.9966
Epoch 77/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0082 - accuracy: 0.9983
Epoch 78/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0062 - accuracy: 0.9983
Epoch 79/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0101 - accuracy: 0.9969
Epoch 80/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0348 - accuracy: 0.9893
Epoch 81/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0371 - accuracy: 0.9886
Epoch 82/100
467/467 [==============================] - 2s 4ms/step - loss: 0.0108 - accuracy: 0.9974
Epoch 83/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0063 - accuracy: 0.9984
Epoch 84/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0103 - accuracy: 0.9974
Epoch 85/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0117 - accuracy: 0.9961
Epoch 86/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0174 - accuracy: 0.9950
Epoch 87/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0087 - accuracy: 0.9976
Epoch 88/100
467/467 [==============================] - 2s 4ms/step - loss: 0.0105 - accuracy: 0.9971
Epoch 89/100
467/467 [==============================] - 2s 4ms/step - loss: 0.0094 - accuracy: 0.9971
Epoch 90/100
467/467 [==============================] - 2s 4ms/step - loss: 0.0112 - accuracy: 0.9967
Epoch 91/100
467/467 [==============================] - 2s 4ms/step - loss: 0.0206 - accuracy: 0.9944
Epoch 92/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0363 - accuracy: 0.9877
Epoch 93/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0132 - accuracy: 0.9967
Epoch 94/100
467/467 [==============================] - 2s 4ms/step - loss: 0.0108 - accuracy: 0.9977
Epoch 95/100
467/467 [==============================] - 2s 4ms/step - loss: 0.0062 - accuracy: 0.9981
Epoch 96/100
467/467 [==============================] - 2s 4ms/step - loss: 0.0072 - accuracy: 0.9981
Epoch 97/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0075 - accuracy: 0.9976
Epoch 98/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0058 - accuracy: 0.9986
Epoch 99/100
467/467 [==============================] - 2s 3ms/step - loss: 0.0076 - accuracy: 0.9980
Epoch 100/100
467/467 [==============================] - 2s 4ms/step - loss: 0.0159 - accuracy: 0.9956

In [ ]:
Classifier.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 150)               1800

 dense_5 (Dense)             (None, 150)               22650

 dense_6 (Dense)             (None, 150)               22650

 dense_7 (Dense)             (None, 1)                 151

=================================================================
Total params: 47,251
Trainable params: 47,251
Non-trainable params: 0
_________________________________________________________________

In [ ]:
y_pred =Classifier.predict(X_test)
y_pred[y_pred>0.5]=1
y_pred[y_pred<0.5]=0

94/94 [==============================] - 0s 2ms/step

In [ ]:
y_pred = y_pred.astype(int)
y_pred

array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [1]])

In [ ]:
count1=0
count0=0
for i in y_pred:
  if i==1:
    count1+=1
  else:
    count0+=1
print(count1)
print(count0)

510
2490

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix
cm=confusion_matrix(Y_test,y_pred)
print(cm)

[[2204  211]
 [ 286  299]]

In [ ]:
print(classification_report(Y_test,y_pred))

              precision    recall  f1-score   support

           0       0.89      0.91      0.90      2415
           1       0.59      0.51      0.55       585

    accuracy                           0.83      3000
   macro avg       0.74      0.71      0.72      3000
weighted avg       0.83      0.83      0.83      3000